@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: $gris;
    border: 1px solid $gris;

    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
        margin-bottom: 2rem;
    }

    h3,
    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        max-height: 40rem;
    }
}

.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}