.acciones {
    margin-top: $separacion;
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: $negro;
        display: block;
        margin-bottom: calc($separacion / 2);
        text-align: center;
    }
}