.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.exito {
        background-color: $verde;
    }

    &.error{
        background-color: $rojo;
    }
}

.bt-crear{
        display: flex;
        justify-content: center;
        margin: 0;
        a{
            margin-left: 1rem;
        }
    }


table.listado-ropa{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $verde;

        th{
            color:$blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
}

.imagen-pequeña{
    width: 20rem;
}
